
{% extends "layout.html" %}
{% block content %}

{% include "navbar.html" %}

<p></p>

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                
                <thead>
                    <th>Factura</th>
                    <th>Status</th>
                    <th>Fecha de creacion</th>
                    <th>Monto</th>
                    <th>Visualizar</th>
                    <th>Cancelar</th>
                </thead>
                <tbody>
                    {% for row in ordenes %}
		    <tr>
                   	 <td>{{ row.factura }}</td>
                  	 <td>{{ row.status }}</td>
                  	 <td>{{ row.fecha_creacion }}</td>
                  	 <td>{{ row.monto }}</td>
                   	 <td><a href="{{ url_for('ordenes', factura=row.factura) }}" class="btn btn-sm btn-info">Visualizar</a> </td>
                    	<td><button type="submit" class="btn btn-sm btn-danger">Cancelar</button> </td>
		    </tr>
		    {% endfor %}
                </tbody> 

            </table>
        </div>
    </div>
</div>




{% endblock content %}
