
{% extends "layout.html" %}
{% block content %}

{% include "navbar.html" %}

<p></p>

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                    <th>Id</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Color</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Descuento</th>
                    <th>Subtotal</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                    
                </tbody> 

            </table>
        </div>
    </div>
</div>




{% endblock content %}
